body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagina{
    display: grid;
    grid: 
    "video_principal propaganda" 56px
    "video_principal video1" 71px
    "video_principal video2" 71px
    "descricao video3" 71px
    "descricao . "  76px 
    /543px 270px;
    gap: 12px ;
    font-family: "Roboto", sans-serif;
    height: 415px;
    width: 900px;
    justify-content: center;
    align-content: center;
    background: #F7F7F7;
   

}

.video_principal{
    grid-area: video_principal;
    margin-right: 17px;
}

.descricao{
    grid-area: descricao ;

  
}
.descricao h1{
    font-size: 18px;
    font-weight: 700;
    padding: 7px 0px ;
}
.descricao h2{   
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 9px;
}
.descricao p{   
    font-size: 16px;
    font-weight: 300;

}
.propaganda{
    grid-area: propaganda;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    background-color:#C4C4C4;
    ;
}

  

.videos_lateral1{
    grid-area: video1;
    display: flex;
    margin-top: 6px;
}

.videos_lateral2{
    grid-area: video2;
    display: flex;
    margin-top: 15px;
    
}
.videos_lateral3{
    grid-area: video3;
    display: flex;
    margin-top: 15px;
}

.info h3{
    font-size: 11px;
    font-weight: 300;
    line-height: 12.89px;
   
    
}
.info h2 {
    font-size: 14px;
    font-weight: 700;
}
